* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #F0F0F0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: white;
  z-index: 100;
}

nav img {
  height: 15px;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

aside {
  position: fixed;
  inset-block: 0;
  left: 0;
  width: 250px;
  background-color: #red;
  padding-inline: 20px;
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2c3e50;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
